appdirs>=1.4.3
certifi>=2020.4.5.1
chardet>=3.0.4
decorator>=4.4.2
distlib>=0.3.0
filelock>=3.0.12
idna>=2.9
numpy>=1.18.3
pipenv>=2018.11.26
pyTelegramBotAPI>=3.7.1
python-dotenv>=0.13.0
requests>=2.23.0
six>=1.14.0
telebot>=0.0.3
urllib3>=1.25.9
virtualenv>=20.0.18
virtualenv-clone>=0.5.4
